<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <appSettings>
    <!--MPGS Configuration-->
    <add key="mpgs.baseURL" value="https://ap-gateway.mastercard.com"/>
    <add key="mpgs.encodingType" value="UTF-8"/>
    <add key="mpgs.ContentType" value="application/text"/>
    <add key="mpgs.url-information" value="/api/rest/version/{version}/information"/>
    <add key="mpgs.url-batch" value ="/batch/version/{version}/merchant/{merchantid}/batch/{uniqueid}"/>
    <add key="mpgs.url-response" value ="/response"/>
    <add key="mpgs.url-status" value ="/status"/>
    <add key="mpgs.url-validation" value ="/validate"/>
    
    <!-- UAT key -->
    <add key="mpgs.merchant.password" value="4f17194f579f49cad82645ff9654c59f"/>
    <add key="mpgs.merchant.user" value="merchant.TEST001918501503"/>
    <add key="mpgs.merchant.id" value="TEST001918501503"/>

    <!--Production key
    <add key="mpgs.merchant.password" value="9c592d29d3863602698692f1a1c6d2b6"/>
    <add key="mpgs.merchant.user" value="merchant.001918501503"/>
    <add key="mpgs.merchant.id" value="001918501503"/>
     -->

    <add key="mpgs.api.version" value="61"/>
    <add key="mpgs.batch.api.parameters" value=""/>
    <!--MPGS Configuration-->
    
    <add key ="defaultMonth" value =""/>
    <add key ="defaultYear" value =""/>
    <!--Data Path-->
    <add key="file.root.path" value="C:\Users\ACER\Desktop\Batch"/>
    <add key="file.output.path" value="C:\Users\ACER\Desktop\Batch\Output\"/>
    <add key="file.upload.path" value="C:\Users\ACER\Desktop\Batch\Upload\"/>
    <add key="file.processing.path" value="C:\Users\ACER\Desktop\Batch\Processing\"/>
    <add key="file.failed.path" value="C:\Users\ACER\Desktop\Batch\Failed\"/>
    <add key="file.completed.path" value="C:\Users\ACER\Desktop\Batch\Complete\"/>
    <add key="file.report.path" value="C:\Users\ACER\Desktop\Batch\Report\"/>
    <!--Data Path-->
  
    <!--SQL Connection-->
    <add key="SQLConn" value ="Data Source=10.180.1.81;persist security info=True;initial catalog=EPaymentBatch;User ID=sa;password=1q2w3e4r5t;Connect Timeout=300;"/>
    <add key="SQLConnEpayment" value ="Data Source=10.180.1.105;persist security info=True;initial catalog=EPayment;User ID=sa;password=P@ssw0rd;Connect Timeout=300;"/>   
    <!--SQL Connection-->
    
    <!-- Email Configuration-->
    <add key="Host" value="smtp.office365.com"/>
    <add key="Port" value="587"/>
    <add key="SSL" value="True"/>
    <add key="FromEmail" value="support@tokiomarinelife.com.my"/>
    <add key="ToEmail" value="yookhang.foo@tokiomarinelife.com.my"/>
    <add key="ToEmailError" value="yookhang.foo@tokiomarinelife.com.my"/>
    <add key="Username" value="support@tokiomarinelife.com.my"/>
    <add key="Password" value="IOPjkl123"/>
    <!-- Email Configuration-->
  
  <add key="centralizePortal.baseURL" value ="https://stagprojectx.tokiomarinelife.com.my/epay/"/>
    <add key="byPassCentralizePortal" value ="false"/>
        <add key="ErrorRetry" value ="3"/>
  
  </appSettings>
  <connectionStrings>
    <add name="EPaymentBatch" connectionString="Data Source=10.180.1.81;persist security info=True;initial catalog=EPaymentBatch;User ID=sa;password=1q2w3e4r5t;Connect Timeout=300;"/>
    <add name="EPayment" connectionString="Data Source=10.180.1.105;persist security info=True;initial catalog=EPayment;User ID=sa;password=P@ssw0rd;Connect Timeout=300;"/>
  </connectionStrings>

  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="console"/>
      <appender-ref ref ="file"/>
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d] :: %m %newline"/>
      </layout>
    </appender>
     <appender name="file" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="C:\Batch\Log\"/>
         <rollingStyle value="Date" />
         <encoding value="utf-8"/>
         <appendTofile value="true"/>
         <maximumFileSize value="20MB"/>
         <datePattern value="'ePaymentMPGS-'yyyyMMdd'.txt'" />
         <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>        
      </layout>
    </appender>
  </log4net>
</configuration>
