<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <!--<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VECTOR" value="EncryptedData:3419f1c7d27ac6a287af082aab0e69316c61a6fefdb69f0162b4c20e314727e4" />
    <add key="KEY" value="EncryptedData:b90b1855b17089de0001a8e526512812bd67360f7a0da34696564604c6f823f169ba3853bac18d363b23c34aa562c63e9ee23ca48e50edaaeffc851db06b7736" />
    <!-- log4net configuration when running in debug mode. -->
    <add key="log4net.Internal.Debug" value="true" />
    <!-- token validity in minutes -->
    <add key="TokenExpiredInterval" value="120" />
    <!-- TimeOutHandler in second -->
    <add key="TimeOutHandler" value="20" />
    <!-- Dashboard Trailer Policy Payment day gap -->
    <add key="DBTrailer_PolicyPaymentDay" value="100" />
    <!-- Email Setting -->
    <add key="Email.From_Name" value="itapps" />
    <add key="Email.Reply_Name" value="itapps" />
    <add key="Email.From_Email" value="itapps@tokiomarinelife.com.my" />
    <add key="Email.Reply_Email" value="itapps@tokiomarinelife.com.my" />
    <add key="Email.HelpDesk" value="itapps@tokiomarinelife.com.my" />
    <!-- Payment Url -->
    <add key="PaymentApi.BaseUrl" value="http://localhost:65238/Payment/" />
    <add key="PaymentUrl" value="http://localhost:65238/Payment/Summary/" />
    <!-- FPX Setting -->
    <add key="FPX.BaseUrl" value="https://uat.mepsfpx.com.my/" />

    <!-- FPX Setting -->
    <add key="EMandate.BaseUrl" value="https://uat.mepsfpx.com.my/" />

    <add key="EMandate.Amt_Multiply" value="2" />
    <!-- MPGS Setting -->
    
    <add key="MPGS.CreateSession" value="CREATE_CHECKOUT_SESSION" />
    <add key="MPGS.apiOperation" value="INITIATE_AUTHENTICATION" />
	  <add key="MPGS.apiOperationPayerAuthenticate" value="AUTHENTICATE_PAYER" />
    <add key="MPGS.apiOperationACSProcess" value="PROCESS_ACS_RESULT" />
    <add key="MPGS.apiOperationPAY" value="PAY" />
    <add key="MPGS.apiOperationVoid" value="VOID" />
    <add key="MPGS.apiOperationVerify" value="VERIFY" />
    <add key="MPGS.apiOperationACSRetriveResults" value="RETRIEVE_3DS_RESULT" />
    <add key="MPGS.Enable3DS2" value="True" />

    <!--<add key="MPGS.apiPassword" value="IBtoQI84omBiNvxvGLoP/tLmpAtMHauFE8QduT6OHprOwevmEqp2hJG6HWMKwCXWqbM5IJPuR2AXwJ5CZiQfLGgHAdTP9VVj1fWn04zn8UmxgyryO5nlEqd45tUDnfBfv7FvDB2cZJRRYXs4nvIqPoqJrQ7XKGy7slzfnjro0wOAISNUI/VdvAtdmEXcs3GkqVDq/XTq9u9NRInBvyHGg2HlQ/ufEy7vhyVPskddQML2YSaEEjnklvkH0GM5g2gCSCAB9bjO1kn9vUe0OhnadvK6mKciFlvuuMmZ5f08FB6aKVW9A1NU45PgInISVpTpLvElFNk4sZu11zPfdOI5bA=="/>-->
    <add key="MPGS.apiUsername" value="F1LURA7igSof1PzBToBcPDkulXIjnQzP16jyFty4wwftfLXOObLUXaYpiHZ6tjsiTEpsf9+cjlMwbwCXdH0wAgrxfRaYH6ePB6LlRkV1HFOJzBtvFeTEu/j18EpXXtpimURTjEVf3W+q2DazDW6JS1tpj3lqO85sFZyxHrz7COxnZLxTjt8wqGyzMO9ivtf/q64nl3q/V9+O3TvC4AsF3hCoQPfxBocElr2TmOO8KbOhKlHfMpCXepQjea9KYF2PJal5btypmO6fKwLreYeCfUQR519ucIWiNinoLqTf2FDvbnaDobgB0o3KYlTg/sgTgLNqTyfPaic7c8GccmI/GQ==" />
   <add key="MPGS.apiPassword" value=" G6J7j6gfVWRuzrIDoIiff/xQXu2eRHlkJT3ugLVR1DmRKjn4+srFf1PxcZNPCEWYkt+Sr1KdEWtvAPhwHFs6VtwB9q+xj8U+UNd0xpwZPRkcnJstgXlqXitbF34xQawr2kEInXcPVa8dbjbF+sY/S5bQpiLAH0arITpTvfnaRMdBcXuzkWc7w38qFQMfpylPuYR5RplcmVkuqAx4yOhAeEkkGODAa84+sgrwHAUiaDmO2FjbZIyzhmEWe7Hjq7VYn5yyXvPnPp+67GM4WX2p/EY+NMbD/cNlcGRw7IspWc83vulKZwtjCvGRPcqwPjNP1m8bd6gzcxHfJFmiw4B0ZQ==" />

    <add key="MPGS.merchant" value="AS5lbhAEL4bufG/Q5EGWxSR9n/f07fIgK3eIgNiquxMDMlqhBPYWAf07w5xr6ZJyW4HhYEH5+esd1OER73SfSVjrS9WqepTOh1qi5bilZ+tO+fbl+bwZjSMnfpRLQfcb7fWBCAojVK5+H0k1PlVjbEi/l4gmQBkT+I0MhlzARb/JaZmpW53SITBL4jU0EjKFVig25HXJJvxPTHx/5m24bEt/+uQQ7vMVgxtb8PCeFxqTOz3jv2VWyBjfUa1aepTgzDOxqjoYZw5GC5hQ3LCKiaKFq7YgLk8iGDrZOYx+eG7Sjuq/3AnP0PqmhTg6fWlM/H9XE1Yjgp2eChzBiCx4/w==" />
    <!--<add key="apiPassword" value="927a5042338f6ecbd9e0b0fb056f9ca5" />
    <add key="apiUsername" value="merchant.TEST001918500232" />
    <add key="merchant" value="TEST001918500232" />-->
    <add key="MPGS.gatewayURL" value="https://ap-gateway.mastercard.com" />
    <add key="MPGS.version" value="61" />
    <add key="MPGS.currency" value="MYR" />
  
    <!-- RazerPay Setting -->
    <add key="RazerPay.BaseUrl" value="https://www.onlinepayment.com.my/MOLPay/pay/" />
    <add key="RazerPay.InquiryReturnUrl" value="https://stagprojectx.tokiomarinelife.com.my/epay/RazerPay/ResponseInquiry" />
    <add key="RazerPay.InquiryUrl" value="https://api.merchant.razer.com/RMS/query/q_by_oid.php" />

    <add key="DeploymentType" value="Internal" />
  </appSettings>
  <connectionStrings>
    <!--PROD-->
    <!--PROD STAGGING-->
    <!--SIT-->
    <!--<add name="sqlConn" connectionString="EncryptedData:6f74358c5f2f23393811cd0231f5892e62fac1a4bff62db90e31125971c3f0e255c944e1c829b5cfb2eba2a47f28b0f01bc74e9391aa553b66b6cf7f5caa0ea36010c624e6c35078a0f60e65de819d9a2324bd139639d5de3c39105b9ae525a6" />
        <add name="ODSsqlConn" connectionString="EncryptedData:e6039b6972e76c7819f3b54ec69423e25a6f05881f0bcd661e90602a9271938a7b15152039628c82dd3647654bbd344c5ebcc0504edd14a5554156c608dc4e19adf02b98802a386cb700275761e81bf622901a5f70e3909f6bb41c973d6abcec" />-->
    <!--DEV-->
    <!--<add name="sqlConn" connectionString="Aj9JXDtEUOF28C3nV9A3BI4bRfdA75wuXAe9W8vyaIpo/4iFYnLltTydtzrKdG/fAEp61YbM8WVHje9c9Yn4+LqlaDXzFbBIsn//00JvMBMvzJL5z/SdSWbe6MISRtYMtCQWHWshUOp2V+HmXwD5MmsXAySXu4G3J5VXPGqXgErZkrUEkzKjG8DkJ8CsTeYQSiMT1CXwCjgDfay0Hy204S8vAXtKtOVPN2Svwia9TtSmAOitA2YedBxbtcNcTyusT/1IJI7OlPwUs6e+Fx3zJ7wTS4wtotmZgtCJFeEfAd+QHTEuDcMoYmAIRWAm/VXor8pPGA13TagouSYQotvWvw=="/>-->
    <!--<add name="sqlConn" connectionString="Data Source=172.16.2.12;Initial Catalog=TMLM_Online;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Passw0rd" />-->
    <!--<add name="sqlConn" connectionString="Data Source=localhost;Initial Catalog=Epayment;Integrated Security=False;Persist Security Info=False;Integrated Security=true" />-->
    <!--<add name="sqlConn" connectionString="T8983bkSWIqXR2jboVyki/crAhfM991MoGDYdc+kJbItgkYX5RvRPfWIgM54ybEjN0Fda+ACb8D+olHhIDjxjo4X+hWg1YUh+uQg0nSjZkCHxguXbVTu51kKlkvVvqqNM9w/Z2e4sYzja5ql6RQI4Io7dc1BY3Xu4atCyCzp+ig6cpSDdmWQ14wOegCmUYHdq5hete/EVuqVzvP0z9z+gmpCHYdrlx1CyUYAXYJiHhB0j9/7iEsdNd72Z08vdZ8LHQurBJdAPndYnv+gsMeX2kk4dPQjFDlSUC9bagZu0y5aMSNI+Zae4XkXGnpYDmTvAv8TczN7YZ/U5edZ7z2kwQ==" />-->
    <add name="sqlConn" connectionString="ls/uf2DbZ+9V0h7ulkklcMXzqIalmKyfvA/sboA3a5pVnA2XDV+B8wE0F8QKAmMfordlgw09atjwRdKcx/eRnjLh+4+GTZrzwrgFfFsUMBucA6EteZsgcdlH7GysNh/MabTc28Hd8E06+vmCZ4ux1BrjI237o8UhKmZ7n9kP8uujkjLK7P03A/b8R3B1E3xgvbSWjbwobG8YefcF/75S37N3szFcyW/HGOW40mj2xfSv4PxkcJR/zxXH+4AWhVllCnG62RG+w2R0lZuDeWWfaBAeVXSh1nvr/IYRmc30UiQ+EzTpe2u9SNZWszG9WdtQF7O+OnRaQ+tvRp2o7ek3rQ==" />
    <!--<add name="sqlConn" connectionString="ifJeTOL+wTvW0Wr7OqV4jA9y4oUUDANSl9bjuJTZl8lXyAWyvznuYLt9cgbwwBQBaYjKz3bpR//whm66R9fGlnFAovuZI7MqmbYVRMB90i+EaYbzcNXFNNUPZlKt6gflw5B60P/T8OglZiHtw/MXg12SYzErRroB5euz2R1VyVxM+j5X7Z8mK8VFqWzZTUrZsaGD4fC3MSroWM9c037HgB/QFlda1FbkHcBUsYwinXirLX9leKlsXcD18lzN40SwL16eLxQiRbyA+pYMOgSAnPPwhSbhxlacyUxPYemwiP0/kyVv+c6FkxfLQxHg10eG5SKFfK1u2ktuGA+inePgug==" />-->

    <add name="ODSsqlConn" connectionString="" />
  </connectionStrings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error/Index" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <!--TODO:move mail password to more secure place-->
        <!--<network host="172.16.1.11" port="25" userName="" password="" enableSsl="false" defaultCredentials="false" />-->
        <network host="172.16.1.11" port="25" enableSsl="false" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <!--<httpProtocol>
            <customHeaders>
            <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>-->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="cache-control" value="no-cache,no-store" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <!--<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />-->
    </compilers>
  </system.codedom>
</configuration>